body {
    animation-name: animacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes animacion {
    from {background-color: red;}
    to {background-color: green;}
}

h1 {
    animation-name: nombre;
    font-size: 14px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes nombre {
    to {font-size: 100px}
}

img {
    width: 100px;
    animation-name: corazon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes corazon {
    to {width: 300px}
}